name: Codacy Coverage Reporter

on: ["push"]

jobs:
  coverage:
    name: Coverage Report
    runs-on: ubuntu-latest
    
    steps:
    - uses: actions/checkout@v6

    - name: Set up Pixi
      uses: prefix-dev/setup-pixi@v0.9.3
      with:
        pixi-version: v0.62.2
        cache: true

    - name: Run Coverage
      run: pixi run test-coverage

    - name: Codacy Coverage Reporter
      uses: codacy/codacy-coverage-reporter-action@v1.3.0
      with:
        # project-token: ${{ secrets.CODACY_PROJECT_TOKEN }}
        # or
        api-token: ${{ secrets.CODACY_API_TOKEN }}
        coverage-reports: ./coverage.xml
